body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #022641 !important;
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    color: #333;
}

.feedp {
    font-size: 35px !important;
    color: black;
}

.post,
.comentario {
    background-color: rgb(239, 249, 255);
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.post h2,
.comentario strong {
    color: #000000;
    font-size: 22px;
}

.post p,
.comentario p {
    color: #000000 !important;
    font-size: 20px !important;
}

form {
    margin: 10px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


form {
    background-color: rgb(201, 230, 246);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: 5%;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form textarea {
    width: 98%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(229, 242, 249);
}

form button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #022641;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #041a2b;
}


button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}